 .u-section-1 {
  background-repeat: no-repeat;
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 1), rgba(114, 0, 255, 1));
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-elements-1 {
  min-height: 133px;
  margin-top: 561px;
  margin-bottom: 60px;
  height: auto;
  width: 1140px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-group-elements-2 {
  width: 1103px;
  min-height: 43px;
  height: auto;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: -43px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    background-size: cover;
  }

  .u-section-1 .u-group-elements-1 {
    width: auto;
  }
}