 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #478ac9, #db545a);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 2066px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 80px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 26px auto 0 -150px;
}

.u-section-1 .u-group-1 {
  width: 904px;
  --radius: 15px;
  height: auto;
  min-height: 219px;
  margin: 20px auto 0 -290px;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 5px;
}

.u-section-1 .u-text-3 {
  margin: 23px 25px 0 312px;
}

.u-section-1 .u-text-4 {
  margin: 12px 25px 0 312px;
}

.u-section-1 .u-image-1 {
  --radius: 10px;
  width: 273px;
  height: 205px;
  margin: -117px auto 0 2px;
}

.u-section-1 .u-group-2 {
  width: 780px;
  --radius: 10px;
  height: auto;
  min-height: 797px;
  margin: -219px -284px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-group-3 {
  width: 904px;
  --radius: 15px;
  height: auto;
  min-height: 219px;
  margin: -548px auto 0 -290px;
}

.u-section-1 .u-container-layout-3 {
  padding: 7px 5px;
}

.u-section-1 .u-text-5 {
  margin: 23px 25px 0 312px;
}

.u-section-1 .u-text-6 {
  margin: 12px 25px 0 312px;
}

.u-section-1 .u-image-2 {
  --radius: 10px;
  width: 273px;
  height: 205px;
  margin: -117px auto 0 2px;
}

.u-section-1 .u-group-4 {
  width: 904px;
  --radius: 15px;
  height: auto;
  min-height: 219px;
  margin: 30px auto 0 -290px;
}

.u-section-1 .u-container-layout-4 {
  padding: 7px 0;
}

.u-section-1 .u-text-7 {
  margin: 23px 30px 0 317px;
}

.u-section-1 .u-text-8 {
  margin: 12px 30px 0 317px;
}

.u-section-1 .u-image-3 {
  --radius: 10px;
  width: 273px;
  height: 205px;
  margin: -117px auto 0 7px;
}

.u-section-1 .u-group-5 {
  width: 904px;
  --radius: 15px;
  height: auto;
  min-height: 219px;
  margin: 30px auto 0 -290px;
}

.u-section-1 .u-container-layout-5 {
  padding: 7px 5px;
}

.u-section-1 .u-text-9 {
  margin: 23px 25px 0 312px;
}

.u-section-1 .u-text-10 {
  margin: 12px 25px 0 312px;
}

.u-section-1 .u-image-4 {
  --radius: 10px;
  width: 273px;
  height: 205px;
  margin: -117px auto 0 2px;
}

.u-section-1 .u-group-6 {
  width: 904px;
  --radius: 15px;
  height: auto;
  min-height: 219px;
  margin: 30px auto 255px -290px;
}

.u-section-1 .u-container-layout-6 {
  padding: 7px 5px;
}

.u-section-1 .u-text-11 {
  margin: 23px 25px 0 312px;
}

.u-section-1 .u-text-12 {
  margin: 12px 25px 0 312px;
}

.u-section-1 .u-image-5 {
  --radius: 10px;
  width: 273px;
  height: 205px;
  margin: -117px auto 0 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.6666666666666665rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }
}